@import "tailwindcss";

@theme {
    --color-tint: #91AC87;
    --color-shade: #133A1B;
    --color-light: #FFFFFF;
}

#root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color:#91AC87 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: "Roboto Condensed", sans-serif;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.btn{
    cursor: pointer;
    color: white;
    transition: color .15s ease ;
}

.tasks-item{
    display: flex;
    background-color: #91AC87;
    align-items: center;
    border-radius: 10px;
}

.item-text{
    flex-grow: 1;
    padding: 10px 5px 10px 10px;
    color: white;
}

.item-text:focus{
    background-color: #133a1b91;
    color: white;
    outline: none;
}


.btn-group{
    display: flex;
    gap: 0 3px;
    padding-right: 8px;
}

.addBtn , .removeAllButton{
    transition:color .15s ease , background-color .15s ease ;
    cursor: pointer;
    color: white;
}

.addBtn:hover {
    background-color: #FFFFFF;
    color: #133a1b91 ;
}

.removeAllButton:hover{
    background-color: white;
    color: red;
}


.cancelBtn:hover ,
.removeBtn:hover {
    color: #b9854e;
}

.confirmBtn:hover ,
.editBtn:hover{
    color: #133a1b91;
}


/* animation */

.owl {
    animation: owlFloat 3s ease-in-out infinite;
}

@keyframes owlFloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

/* test */
.container{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(30, 45, 40, 0.14);
}

.container svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.outer ,
.inner{
    fill: none;
    stroke-width: 4;
}

.outer{
    stroke:#aec9a5cb ;
}
/* .inner{
    stroke: #133A1B;
    stroke-dasharray: 439.6;
    stroke-dashoffset: 60;
} */

.num{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #133A1B;
    font-size: 45px;
}
